*{
	 margin:0; padding:0;	 
}
ul, li {
	list-style-type:none;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
input[type="button"], input[type="submit"], input[type="reset"] {

-webkit-appearance: none;

}
/*select,textarea {  -webkit-appearance: none;} */
a {
  color: #333;
  text-decoration:none;
}
a:hover,a:focus {
	text-decoration:none;
	color:#666;
}
img { 
    border:0;
    vertical-align:middle;
}
body {
	font-family:"Microsoft Yahei";
/*	background:#f5f5f5;*/
    font-size:14px;
}
table {
	 border-collapse:collapse;
}
input {
	border:0;
}
.wrap {
	overflow:hidden;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.weui-p15 {
	padding:15px;
}
.weui-wrap {
	width:100%;
	overflow:hidden;
}
.weui-main {
	padding-bottom:100px;
}
.weui-f_b {
	font-weight:bold;
}
.weui-v_m {
	vertical-align:middle;
}
.weui-v_t {
	vertical-align:top;
}
.weui-fl { 
    float:left;
}
.weui-fr {
	float:right;
}
.weui-db {
	display:inline-block;
}
.weui-dnb {
	display:inline-block;
}
.weui-d_n {
	display:none;
}
.weui-bod_r50 {
	border-radius:50%;
}
.weui-bod_r {
	border-radius:5px;
}
.weui-p1 {
	padding:1px;
}
.weui-p20 {
	padding:20px 40px;
}
.weui-pt5 {
	padding-top:5px;
}
.weui-pb5 {
	padding-bottom:5px;
}
.weui-pl5 {
	padding-left:5px;
}
.weui-pr5 {
	padding-right:5px;
}
.weui-pt10 {
	padding-top:10px;
}
.weui-pb10 {
	padding-bottom:10px;
}
.weui-pl10 {
	padding-left:10px;
}
.weui-pr10 {
	padding-right:10px;
}
.weui-pt15 {
	padding-top:15px;
}
.weui-pl15 {
	padding-left:15px;
	
}
.weui-pr15 {
	padding-right:15px;
	
	
}
.weui-pb15 {
	padding-bottom:15px;
}
.weui-pr20 {
	padding-right:20px;
}
.weui-pb20 {
	padding-bottom:20px;
}
.weui-pl20 {
	padding-left:20px;
}
.weui-pt20 {
	padding-top:20px;
}
.weui-pr25 {
	padding-right:25px;
}
.weui-pb25 {
	padding-bottom:25px;
}
.weui-pl25 {
	padding-left:25px;
}
.weui-pt25 {
	padding-top:25px;
}
.weui-pr30 {
	padding-right:30px;
}
.weui-pb30 {
	padding-bottom:30px;
}
.weui-pl30 {
	padding-left:30px;
}
.weui-pt30 {
	padding-top:30px;
}
.weui-mt5 {
	padding-top:5px;
}
.weui-mb5 {
	margin-bottom:5px;
}
.weui-ml5 {
	margin-left:5px;
}
.weui-mr5 {
	margin-right:5px;
}
.weui-mt10 {
	margin-top:10px;
}
.weui-mb10 {
	margin-bottom:10px;
}
.weui-ml10 {
	margin-left:10px;
}
.weui-mr10 {
	margin-right:10px;
}
.weui-mt15 {
	margin-top:15px;
}
.weui-ml15 {
	margin-left:15px;
}
.weui-mr15 {
	margin-right:15px;
}
.weui-mb15 {
	margin-bottom:15px;
}
.weui-mr20 {
	margin-right:20px;
}
.weui-mb20 {
	margin-bottom:20px;
}
.weui-ml20 {
	margin-left:20px;
}
.weui-mt20 {
	margin-top:20px;
}
.weui-mr25 {
	margin-right:25px;
}
.weui-mb25 {
	margin-bottom:25px;
}
.weui-ml25 {
	margin-left:25px;
}
.weui-mt25 {
	margin-top:25px;
}
.weui-mr30 {
	margin-right:30px;
}
.weui-mb30 {
	margin-bottom:30px;
}
.weui-ml30 {
	margin-left:30px;
}
.weui-mt30 {
	margin-top:30px;
}
.weui-t_c {
	text-align:center;
}
.weui-t_r {
	text-align:right;
}
.weui-t_l {
	text-align:left;
}
.weui-f36 {
	font-size:36px;
}
.weui-f32 {
	font-size:32px;
}
.weui-f30 {
	font-size:30px;
}
.weui-f28 {
	font-size:26px;
}
.weui-f24 {
	font-size:24px;
}
.weui-f22 {
	font-size:22px;
}
.weui-f20 {
	font-size:20px;
}
.weui-f12 {
	font-size:12px;
}
.weui-f18 {
	font-size:18px;
}
.weui-f16 {
	font-size:16px;
}
.weui-f14 {
	font-size:14px;
}
.weui-bod {
	border:1px solid #ddd;
}
.weui-b_r {
	border-right:1px solid #e1e1e1;
}
.weui-b_t {
	border-top:1px solid #e1e1e1;
}
.weui-b_r {
	border-right:1px solid #ddd;
}
.weui-bb_d {
	border-bottom:1px dashed #ddd;
}
.weui-bb {
	border-bottom:1px solid #e5e5e5;
}
.weui-b_l {
	border-left:1px solid #ddd;
}

.weui-lh30 {
	line-height:30px;
}
.weui-t_d {
	text-decoration:underline;
}

.weui-p_r {
	position:relative;
}
.weui-c_p {
	cursor:pointer;
}
.weui-bgcolor01 {
	background:#d8dbde;
}
.weui-c_3 {
	color:#333;
}
.weui-c_6 {
	color:#666;
}
.weui-white { 
  color:#fff;
}
.weui-red {
	color:#ff3333;
}
.weui-c_9 {
	color:#999;
}
.weui-yellow {
	color:#fcdd80;
}
.weui-blue{
	color:#00a0e9;
}
.weui-red01 {
	color:#932e66;
}
.weui-bgf {
	background:#fff;
}
.weui-orange {
	color:#ff7a35;
}
.weui-box_s {
	box-shadow:0 0 10px #ccc;
}
.weui-td2 {
	text-indent:2em;
}
.weui-bgcolor {
	background:#f5f5f5;
}
.weui-green {
	color:#00bb6a;
}



/**/

.top {
	background:#eeeeee;
	padding:5px 0;
	color:#999;
}
.logo {
	font-size:28px;
	color:#932e66;
}
.btn-s {
	background:#932f67;
	color:#fff;
}
.nav01 {
	background:#932f67;
	line-height:44px;
}
.nav01 li {
	width:16.666%;
	text-align:center;
}
.nav01 li a {
	color:#fff;
	display:block;
}
.nav01 li a:hover,.nav01 li a.on {
	background:#770b50;
}
.footer {
	background:#eeeeee;
	padding:30px 0;
	border-top:5px solid #932f67;
	width:100%;
	bottom:0;
	margin-top:15px;
	position:static!important;
}
.newslist li {
	background:url(../images/home_22.png) left center no-repeat;
	padding-left:25px;
	line-height:30px;
}

.carousel-indicators1 {
	bottom:0;
}

.proul li {
	width:32%;
}
.proul li a {
	position:relative;
	display:block;
}
.proul li a i,.pro i {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/v_03.png) center no-repeat rgba(0,0,0,0.5);
}
.proul li a:hover i,.pro:hover i {
	display:block;
}
.proul li img {
	width:100%;
}
.proul li.ml {
	margin-left:2%;
}
.lobox {
	background:#eeeeee;
	height:277px;
	margin-top:62px;
}
.lobox h4 {
	font-size:20px;
	color:#fff;
	background:url(../images/home_34.png) right center no-repeat #932f67;
	line-height:42px;
	padding-left:15px;
}
.lo_ico {
	display:inline-block;
	position:absolute;
	left:10px;
	top:8px;
	color:#999;
}
.form-control1 {
	padding-left:35px;
}


/**/
.titlespan {
	display:inline-block;
	padding:5px;
	border-bottom:5px solid #b30e77;
	font-size:20px;
}
.menu li a {
	display:block;
	background:#eeeeee;
	font-size:20px;
	line-height:54px;
	margin-bottom:6px;
}
.menu li a.on,.menu li a:hover {
	background:#932e66;
	color:#fff;
}

.contentus {
	background:url(../images/2_07.png) 80% 80% no-repeat#eee;
	border-top:5px solid #932e66;
	height:223px;
}
.contentus h4 {
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
}
.newsul li {
	background:url(../images/d_03.png) left center no-repeat;
	padding-left:13px;
	line-height:36px;
}

/**/
.itembox {
	line-height:36px;
}
.itembox>h3 {
	line-height:40px;
}

/*在线课程*/
.tabtitle {
	margin:5px 0 5px 5px;
	height:430px;
	overflow-y:scroll;
}
.tabtitle span {
	display:block;
	background:#eee;
	line-height:42px;
	margin-bottom:3px;
	cursor:pointer;
	padding-left:15px;
}
.tabtitle span.on {
	color:#b30e77;
}

.table1 td {
	padding:10px;
}
.form-control0 {
	height:40px;
}
.nav-tabs1>li>a{
	border-radius:0;
	border-right:1px solid #ddd;
	margin:0;
}
.nav-tabs1>li.active>a, .nav-tabs1>li.active>a:focus, .nav-tabs1>li.active>a:hover {
	border-left:none;
	color:#932e66;
	border-top:2px solid #576379;
	border-radius:0;
}
.xxk {
	min-height:620px;
}

/*直接找回*/
.find {
	background:#eeeeee;
	width:966px;
	min-height:640px;
	margin:50px auto;
}
.btn-lg1 {
	padding:10px 70px;
}

.nav-tabs2 a i {
	display:block;
	border-radius:50%;
	background-color:#fff;
	width:68px;
	height:68px;
	margin:20px auto 0;
	background-image:url(../images/9_03.png);
	background-repeat:no-repeat;
}
.nav-tabs2 {
	text-align:center;
}
.nav-tabs2>li {
	float:none;
	display:inline-block;
	width:48%;
}
.nav-tabs2>li>a {
	display:inline-block;
}
.nav-tabs2>li>a span {
	display:block;
	color:#999;
	padding-top:15px;
	padding-bottom:5px;
}
.nav-tabs2>li.active>a, .nav-tabs2>li.active>a:focus, .nav-tabs2>li.active>a:hover {
	border:none;
	background:none;
	border-bottom:3px solid #932e66;
}
.nav-tabs2>li>a:hover {
	border-bottom:3px solid #932e66;
}
.nav-tabs2>li.active>a span {
	color:#932e66;
}
.i_h {
	background-position:19px 15px;
}
.i_os {
	background-position:-525px 15px;
}
.nav-tabs2>li.active>a i {
	background-color:#932e66;
	background-image:url(../images/9_02.png);
}
.modal-dialog {
	margin-top:14%;
}

/**/
.nav-tabs3>li {
	width:32%;
}

.nav-tabs3 a i {
	background-image:url(../images/5_03.png);
}
.nav-tabs2>li.active>a i {
	background-image:url(../images/5_02.png);
}
.i_z {
	background-position:19px 15px;
}
.i_g {
	background-position:-238px 17px;
}
.i_c {
	background-position:-524px 20px;
}



















