<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.epxing.mapper.AttachmentMapper">
  
  
  <!-- 
  	private Integer wpid;
	private String pictureName;
	private FM_BLOB webPicture;
        网站图片
   -->
  <!-- 
  	    &lt;   |  <
		&lt;=  |  <=
		&gt;   |  >
		&gt;=  |  >=
		&amp;  |  &
		&apos; | '
		&quot; | "  
   -->
   
  <resultMap type="com.epxing.entity.WebsitePicture" id="smaps">
    <id column="WPID" property="wpid"/>
    <result column="PICTURENAME" property="pictureName"/>
    <association property="webPicture" column="WEBPICTURE" javaType="com.epxing.entity.FM_BLOB">
    	<id  column="ID" property="ID"/>
       	<result column="FILE_NAME" property="FILE_NAME"/>
       	<result column="FILE_TYPE" property="FILE_TYPE"/>
       	<result column="FILE_SIZE" property="FILE_SIZE"/>
       	<result column="ENTITY_ID" property="ENTITY_ID"/>
       	<result column="FILE_DATA" property="FILE_DATA" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
       	<result column="USER_ID" property="USER_ID"/>
       	<result column="FILE_CODE_" property="FILE_CODE_"/>
       	<result column="FILE_PATH_" property="FILE_PATH_"/>
       	<result column="OLD_ID_" property="OLD_ID_"/>
    </association>
  </resultMap>
  <select id="getPhotoList" resultMap="smaps">
    select s.* from(
    select rownum r ,w.* ,f.* from WebsitePicture w 
    left join  FM_BLOB  f on  f.id = w.webpicture where rownum &lt;=#{p.last}) s
    where r &gt; #{p.first} 
  </select>
  
  
  
  
  
  </mapper>