<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.epxing.mapper.CourseMapper">
  
  
  
  <!-- 
    private Integer cid;        //客场编号        
	private String  courseName;//课程名称
	private String   courseBriefIntroduction;//课程简介 
	private Date uploadTime;//上传时间
	private FM_BLOB courseVideo; //课程视频
	private FM_BLOB cover ;//封面
	private WebUser speaker;//主讲人
   -->
    <!-- 
    private Integer wuid;
	private String account;
	private String password;
	private String realName;		//真实姓名
	private String phone;			//电话号码
	private String idCard;  		//身份证
	private String workUnit;        //工作单位
	private String politicalStatus;   //政治面貌
	private String technicalPosition;//专业技术职务
	private String educationalBackground;//学历 
	
	-->
     <!-- 
  	    &lt;   |  <
		&lt;=  |  <=
		&gt;   |  >
		&gt;=  |  >=
		&amp;  |  &
		&apos; | '
		&quot; | "  
   -->
   
  <!-- 列表课程查询 -->
  <resultMap type="com.epxing.entity.Course" id="smaps">
  	<id  column="CID" property="cid"/>
  	<result column="COURSENAME" property="courseName"/>
  	<result column="COURSEBRIEFINTRODUCTION" property="courseBriefIntroduction"/>
  	<result column="UPLOADTIME" property="uploadTime"/>
    <association column="COVER" property="cover" javaType="com.epxing.entity.FM_BLOB">
    	<id  column="ID" property="ID"/>
       	<result column="FILE_NAME" property="FILE_NAME"/>
       	<result column="FILE_TYPE" property="FILE_TYPE"/>
       	<result column="FILE_SIZE" property="FILE_SIZE"/>
       	<result column="ENTITY_ID" property="ENTITY_ID"/>
       	<result column="FILE_DATA" property="FILE_DATA" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
       	<result column="USER_ID" property="USER_ID"/>
       	<result column="FILE_CODE_" property="FILE_CODE_"/>
       	<result column="FILE_PATH_" property="FILE_PATH_"/>
       	<result column="OLD_ID_" property="OLD_ID_"/>
    </association>

    <association column="SPEAKER" property="speaker"  javaType="com.epxing.entity.WebUser">
       <id  column="WUID"   property="wuid"/>
       <result column="ACCOUNT" property="account"/>
       <result column="PASSWORD" property="password"/>
       <result column="REALNAME" property="realName"/>
       <result column="PHONE" property="phone"/>
       <result column="IDCARD" property="idCard"/>
       <result column="WORKUNIT" property="workUnit"/>
       <result column="POLITICALSTATUS" property="politicalStatus"/>
       <result column="TECHNICALPOSITION" property="technicalPosition"/>
       <result column="EDUCATIONALBACKGROUND" property="educationalBackground"/>
    </association>
     
    <!--  <collection  column="COURSEVIDEO" property="courseVideo"  ofType="com.epxing.entity.CourseCatalogue">
	     	<id column="CCID" property="ccid" />
	  		<result column="CATALOGUENAME" property="catalogueName"/>
	  		<result column="COURSETIME" property="courseTime"/>
	        <association property="ownCourse" column="ownCourse" javaType="com.epxing.entity.Course">
	        	<id  column="CID" property="cid"/>
			  	<result column="COURSENAME" property="courseName"/>
			  	<result column="COURSEBRIEFINTRODUCTION" property="courseBriefIntroduction"/>
			  	<result column="UPLOADTIME" property="uploadTime"/>
			    <association column="COVER" property="cover" javaType="com.epxing.entity.FM_BLOB">
			    	<id  column="ID" property="ID"/>
			       	<result column="FILE_NAME" property="FILE_NAME"/>
			       	<result column="FILE_TYPE" property="FILE_TYPE"/>
			       	<result column="FILE_SIZE" property="FILE_SIZE"/>
			       	<result column="ENTITY_ID" property="ENTITY_ID"/>
			       	<result column="FILE_DATA" property="FILE_DATA" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
			       	<result column="USER_ID" property="USER_ID"/>
			       	<result column="FILE_CODE_" property="FILE_CODE_"/>
			       	<result column="FILE_PATH_" property="FILE_PATH_"/>
			       	<result column="OLD_ID_" property="OLD_ID_"/>
			    </association>
			
			    <association column="SPEAKER" property="speaker"  javaType="com.epxing.entity.WebUser">
			       <id  column="WUID"   property="wuid"/>
			       <result column="ACCOUNT" property="account"/>
			       <result column="PASSWORD" property="password"/>
			       <result column="REALNAME" property="realName"/>
			       <result column="PHONE" property="phone"/>
			       <result column="IDCARD" property="idCard"/>
			       <result column="WORKUNIT" property="workUnit"/>
			       <result column="POLITICALSTATUS" property="politicalStatus"/>
			       <result column="TECHNICALPOSITION" property="technicalPosition"/>
			       <result column="EDUCATIONALBACKGROUND" property="educationalBackground"/>
			    </association>
	        </association>
     
     </collection> -->
     
  </resultMap>
  
  <select id="getCourseList" resultMap="smaps">
      select s1.* from ( 
	      select rownum r1,u.*,l.*,c.* ,
		      l.file_name as fileName,
		      l.file_type as fileType,
		      l.file_size as fileSize,
		      l.entity_id as entityId,
		      l.file_data as fileData,
		      l.user_id as userId,
		      l.file_code_ as fileCode,
		      l.file_path_ as filePath,
		      l.old_id_ as oldId,
		      l.id as ID_
      from Course c
      left join webuser u on u.wuid = c.speaker
      left join FM_BLOB l ON l.ID  = c.COVER
       where 1=1 and rownum &lt;= #{p.last}) s1 where r1&gt; #{p.first} 
  </select>
 
 
 
    <!-- 
    private Integer ccid;
	private String  catalogueName;//目录名称
	private Integer courseTime;   //课程时长
	private Course  ownCourse;    //所属课程
	private FM_BLOB courseVideo;  //课程视频
     -->
  <resultMap type="com.epxing.entity.CourseCatalogue" id="courseMaps">
  	<id column="CCID" property="ccid" />
  	<result column="CATALOGUENAME" property="catalogueName"/>
  	<result column="COURSETIME" property="courseTime"/>
  	<association property="ownCourse" column="OWNCOURSE" javaType="com.epxing.entity.Course">
  	        <id  column="CID" property="cid"/>
		  	<result column="COURSENAME" property="courseName"/>
		  	<result column="COURSEBRIEFINTRODUCTION" property="courseBriefIntroduction"/>
		  	<result column="UPLOADTIME" property="uploadTime"/>
		    <association column="COVER" property="cover" javaType="com.epxing.entity.FM_BLOB">
		    	<id  column="ID_" property="ID"/>
		       	<result column="FILENAME" property="FILE_NAME"/>
		       	<result column="FILETYPE" property="FILE_TYPE"/>
		       	<result column="FILESIZE" property="FILE_SIZE"/>
		       	<result column="ENTITYID" property="ENTITY_ID"/>
		       	<result column="FILEDATA" property="FILE_DATA" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
		       	<result column="USERID" property="USER_ID"/>
		       	<result column="FILECODE_" property="FILE_CODE_"/>
		       	<result column="FILEPATH_" property="FILE_PATH_"/>
		       	<result column="OLD_ID_" property="OLD_ID_"/>
		    </association>
		    <association column="SPEAKER" property="speaker"  javaType="com.epxing.entity.WebUser">
		       <id  column="WUID"   property="wuid"/>
		       <result column="ACCOUNT" property="account"/>
		       <result column="PASSWORD" property="password"/>
		       <result column="REALNAME" property="realName"/>
		       <result column="PHONE" property="phone"/>
		       <result column="IDCARD" property="idCard"/>
		       <result column="WORKUNIT" property="workUnit"/>
		       <result column="POLITICALSTATUS" property="politicalStatus"/>
		       <result column="TECHNICALPOSITION" property="technicalPosition"/>
		       <result column="EDUCATIONALBACKGROUND" property="educationalBackground"/>
		    </association>
  	</association>
    <association property="video" column="video"  javaType="com.epxing.entity.FM_BLOB">
    			<id  column="ID" property="ID"/>
		       	<result column="FILE_NAME" property="FILE_NAME"/>
		       	<result column="FILE_TYPE" property="FILE_TYPE"/>
		       	<result column="FILE_SIZE" property="FILE_SIZE"/>
		       	<result column="ENTITY_ID" property="ENTITY_ID"/>
		       	<result column="FILE_DATA" property="FILE_DATA" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
		       	<result column="USER_ID" property="USER_ID"/>
		       	<result column="FILE_CODE_" property="FILE_CODE_"/>
		       	<result column="FILE_PATH_" property="FILE_PATH_"/>
		       	<result column="OLD_ID_" property="OLD_ID_"/>
    </association>
   </resultMap>
  <select id="getCatalogueById" resultMap="courseMaps">
  		 select cc.*,c.*,w.*,FM.*,f.*,
			  f.file_name as filename,
			  f.file_type as filetype ,
			  f.file_size as filesize,
			  f.entity_id as entityid ,
			  f.file_data as filedata,
			  f.user_id as userid,
			  f.file_code_ as filecode_, 
			  f.file_path_ as filepath_ ,
			  f.old_id_ as old_id_,
			  f.id as id_
			  from  CourseCatalogue cc 
			  left join Course c on cc.owncourse =c.cid
			  left join FM_BLOB FM on FM.ID =cc.video
			  left join FM_BLOB f on c.cover = f.id
			  left join webuser w on c.speaker =w.wuid  
			  where cc.owncourse=#{cid}
  </select>

 <!--我的课程  -->
  <resultMap type="com.epxing.entity.MyCourse" id="myCourseMaps">
  	<id column="ID" property="id" />
  	<result column="STATUS" property="status"/> 
  	<association property="course" column="COURSE" javaType="com.epxing.entity.Course">
  	        <id  column="CID" property="cid"/>
		  	<result column="COURSENAME" property="courseName"/>
		  	<result column="COURSEBRIEFINTRODUCTION" property="courseBriefIntroduction"/>
		  	<result column="UPLOADTIME" property="uploadTime"/>
		    <association column="COVER" property="cover" javaType="com.epxing.entity.FM_BLOB">
		    	<id  column="ID_" property="ID"/>
		       	<result column="FILENAME" property="FILE_NAME"/>
		       	<result column="FILETYPE" property="FILE_TYPE"/>
		       	<result column="FILESIZE" property="FILE_SIZE"/>
		       	<result column="ENTITYID" property="ENTITY_ID"/>
		       	<result column="FILEDATA" property="FILE_DATA" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
		       	<result column="USERID" property="USER_ID"/>
		       	<result column="FILECODE_" property="FILE_CODE_"/>
		       	<result column="FILEPATH_" property="FILE_PATH_"/>
		       	<result column="OLD_ID_" property="OLD_ID_"/>
		    </association>
		    <association column="SPEAKER" property="speaker"  javaType="com.epxing.entity.WebUser">
		       <id  column="WUID"   property="wuid"/>
		       <result column="ACCOUNT" property="account"/>
		       <result column="PASSWORD" property="password"/>
		       <result column="REALNAME" property="realName"/>
		       <result column="PHONE" property="phone"/>
		       <result column="IDCARD" property="idCard"/>
		       <result column="WORKUNIT" property="workUnit"/>
		       <result column="POLITICALSTATUS" property="politicalStatus"/>
		       <result column="TECHNICALPOSITION" property="technicalPosition"/>
		       <result column="EDUCATIONALBACKGROUND" property="educationalBackground"/>
		    </association>
  	</association>
    <association property="webUser" column="WEBUSER"  javaType="com.epxing.entity.WebUser">
    			<id  column="WUID" property="wuid"/>
		       	<result column="ACCOUNT" property="account"/>
    </association>
    </resultMap>
    <select id="getMyCourseByUser"  resultMap="myCourseMaps">
     select s1.* from ( 
    	select  
    	     rownum r1 ,
    	     t.status,
    	     t1.*,
    		 t3.file_name as filename,
			 t3.file_type as filetype ,
			 t3.file_size as filesize,
			 t3.entity_id as entityid ,
			 t3.file_data as filedata,
			 t3.user_id as userid,
			 t3.file_code_ as filecode_, 
			 t3.file_path_ as filepath_ ,
			 t3.old_id_ as old_id_,
			 t3.id as id_,
    	     t4.* 
	    	from MyCourse     t
	    	left join Course  t1 on  t1.cid=t.course
	    	left join WebUser t2 on  t2.wuid=t.webUser
	    	left join FM_BLOB t3 on  t1.cover = t3.id
		    left join WebUser t4 on  t1.speaker =t4.wuid
		    
		     <where>
		    		t.WEBUSER=#{uid} and 
		    	<if test="status  != null and  status !='' ">
		    		t.STATUS=#{status} and
		    	</if>
		    	    rownum &lt;= #{p.last}) s1 where r1 &gt; #{p.first} 
		    </where> 
    </select>
    
    
  </mapper>
  