<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.epxing.mapper.InfoMapper">
  
  
  			<!-- 
  			private Integer id;    //流水号
			private String title;   //标题
			private CLOB content;   //内容
			private FM_BLOB photo;  // 网站图片
			private Date releaseDate;//发布日期
			private Integer readingQuantity;//阅读数量
			private ColumnInformation ownModule;  //所属模块
  			
  			 -->
  			<!--  private   String   ID;
				  private   String   FILE_NAME;
				  private   String   FILE_TYPE;
				  private   Integer  FILE_SIZE;
				  private   String   ENTITY_ID;
				  private   BLOB     FILE_DATA;
				  private   String   USER_ID;
				  private   String   FILE_CODE_;
				  private   String   FILE_PATH_;
				  private   Integer  OLD_ID_; 
				  
				  -->
				  
		<!--网站文章列表  -->			  
        <resultMap type="com.epxing.entity.WebsiteInformationContent" id="smap">
        	<id  column="WICID" property="wicid"/>
        	<result column="TITLE" property="title"/>
        	<result column="CONTENT" property="content" jdbcType="CLOB" javaType="java.lang.String" typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
        	<result column="RELEASEDATE" property="releaseDate"/>
        	<result column="READINGQUANTITY" property="readingQuantity"/>
        	<association property="photo" column="PHOTO" javaType="com.epxing.entity.FM_BLOB">
	        	<id  column="ID" property="ID"/>
	        	<result column="FILE_NAME" property="FILE_NAME"/>
	        	<result column="FILE_TYPE" property="FILE_TYPE"/>
	        	<result column="FILE_SIZE" property="FILE_SIZE"/>
	        	<result column="ENTITY_ID" property="ENTITY_ID"/>
	        	<result column="FILE_DATA" property="FILE_DATA" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
	        	<result column="USER_ID" property="USER_ID"/>
	        	<result column="FILE_CODE_" property="FILE_CODE_"/>
	        	<result column="FILE_PATH_" property="FILE_PATH_"/>
	        	<result column="OLD_ID_" property="OLD_ID_"/>
        	</association>
        	<association property="ownModule" column="OWNMODULE" javaType="com.epxing.entity.ColumnInformation">
					<id  column="CODE" property="code"/>
		        	<result column="NAME" property="name"/>
		        	<association column="PARENTCODE" property="parentCode"  javaType="com.epxing.entity.ColumnInformation">
		        		<id  column="CODE" property="code"/>
		        		<result column="NAME" property="name"/>
		        	</association>
        	</association>
        </resultMap>
        <select id="findInfoByPageAndOwnModule" resultMap="smap">
        	select s1.*,f.* from(select rownum r1, w.*  from WebsiteInformationContent w  WHERE  1=1
			<if test="ownModule != null and ownModule != '' "> 
				and ownModule=#{ownModule} 
			</if>
			 and rownum &lt;=  #{p.last}) s1 left join FM_BLOB f on f.ID = s1.photo  where r1 &gt; #{p.first} 
        </select>
  
 	 <!-- 网站文章详情 -->
 	 <resultMap type="com.epxing.entity.WebsiteInformationContent" id="smaps">
        	<id  column="WICID" property="wicid" />
        	<result column="TITLE" property="title"/>
        	<result column="CONTENT" property="content" jdbcType="CLOB" javaType="java.lang.String" typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
        	<result column="RELEASEDATE" property="releaseDate"/>
        	<result column="READINGQUANTITY" property="readingQuantity"/>
        	<association property="photo" column="PHOTO" javaType="com.epxing.entity.FM_BLOB">
	        	<id  column="ID" property="ID"/>
	        	<result column="FILE_NAME" property="FILE_NAME"/>
	        	<result column="FILE_TYPE" property="FILE_TYPE"/>
	        	<result column="FILE_SIZE" property="FILE_SIZE"/>
	        	<result column="ENTITY_ID" property="ENTITY_ID"/>
	        	<result column="FILE_DATA" property="FILE_DATA" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
	        	<result column="USER_ID" property="USER_ID"/>
	        	<result column="FILE_CODE_" property="FILE_CODE_"/>
	        	<result column="FILE_PATH_" property="FILE_PATH_"/>
	        	<result column="OLD_ID_" property="OLD_ID_"/>
        	</association>
        	<association property="ownModule" column="OWNMODULE" javaType="com.epxing.entity.ColumnInformation">
					<id  column="CODE" property="code"/>
		        	<result column="NAME" property="name"/>
		        	<association column="PARENTCODE" property="parentCode"  javaType="com.epxing.entity.ColumnInformation">
		        		<id  column="CODE" property="code"/>
		        		<result column="NAME" property="name"/>
		        	</association>
        	</association>
        </resultMap>
 	    <select id="findDetailInfo" resultMap="smaps">
 	        select * from WebsiteInformationContent  w  left  join FM_BLOB f on w.photo =f.ID where 1=1
	 	      <if test=" wicid != null and  wicid != '' ">
	 	       		 and  w.wicid=#{wicid}
	 	      </if>
	 	      <if test="ownModule != null and ownModule != ''  "> 
				and w.ownModule=#{ownModule} 
			  </if>
 	    </select>
 	 
  
  
  
  </mapper>